{% extends "blogstemp/base.html" %}
{% block content %}
<div class="col-sm-10">

    <h3 class="text-white my-5">About Page</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa possimus nam aperiam, provident unde sit temporibus fugiat distinctio consectetur exercitationem quos dolores excepturi consequuntur ab ducimus, inventore ullam nostrum quasi quo id beatae debitis! Magnam doloribus rem veniam esse libero.</p>
<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vitae a sed explicabo nemo ratione eligendi non beatae! Quos nulla dolor numquam consequatur dolore optio consequuntur, sed necessitatibus officia doloribus quibusdam?</p>
</div>

{% endblock content %}

